<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="urn:packages">
  <package id="Appccelerate.EventBroker" version="3.1.0" targetFramework="net45" />
  <package id="Appccelerate.Fundamentals" version="2.1.0" targetFramework="net45" />
  <package id="Ninject" version="3.2.0.0" targetFramework="net45" />
  <package id="Ninject.Extensions.AppccelerateEventBroker" version="3.2.1-unstable-005" targetFramework="net45" />
  <package id="Ninject.Extensions.ContextPreservation" version="3.2.0-unstable-001" targetFramework="net45" />
  <package id="Ninject.Extensions.NamedScope" version="3.2.0-unstable-001" targetFramework="net45" />
  <package id="Ninject.Extensions.Wcf" version="3.2.3-unstable-002" targetFramework="net45" />
  <package id="Ninject.Web.Common" version="3.2.0.0" targetFramework="net45" />
</packages>